main{
    background-image: url(./sky+cloud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 20px 20px;
    
    
}
main section{
    border: 10px;
    width: 80.7%;
}
.none{
    grid-area: 1/1/2/4;
}
.header{
    grid-area: 2/1/3/4;
}
.first:nth-of-type(2){
    grid-area: 3/1/5/2;
}
.second:nth-of-type(3){
    grid-area: 3/2/5/3;
}
.third:nth-of-type(4){
    grid-area: 3/3/4/4;
}
.fourth:last-of-type{
    grid-area: 4/3/5/4;
}


.none{
    background-color:#BD9830 ;
    
    
    
}
.none>.abm{
    
    font-size: x-large;
    text-decoration: none;
    margin-left: 3em;
    border: .2em solid white;
    padding: .4rem;
    
    font-weight: bolder;
    
    
}
.none>.aac{
    font-size: x-large;
    text-decoration: none;
    border: .2em solid white ;
    padding: .4rem;
    margin-left: 4em;
    font-weight: bolder;
    
}
.none>.sk{
    font-size: x-large;
    text-decoration: none;
    border: .2em solid white;
    padding: .4rem;
    margin-left: 1.5em;
    font-weight: bolder;
}
.none>.fm{
    font-size: x-large;
    text-decoration: none;
    border: .2em solid white;
    padding: .4rem;
    font-weight: bolder;
}




.abm{
    background-color: #BD9830;
    
}
.aac{
    background-color:#BD9830;
    margin: 9%;
}
.sk{
    background-color: #BD9830;
    margin: 9%;
}
.fm{
    background-color: #BD9830;
    margin: 9%;
}
.abm:hover{
    background-color: #FFFFFF;
}
.aac:hover{
    background-color: #FFFFFF;
}
.sk:hover{
    background-color: #FFFFFF;
}
.fm:hover{
    background-color: #FFFFFF;
}
body{
    width: 80%;
    padding: 5%;
}

h1{
    background-color: #77A553;
    width: 36%;
    padding: .1em;
    margin: 5%;
    text-align: center;
    
    
}
.first{
    background-color: #78527A;
}
.first>h2{
    background-color:  #78527A;
    width: 100%;
    text-align: center;
}
.first h2 ~p{
    padding: 2em;
    margin: 1%;
}

.second{
    background-color: #495043;
    
}

.second>h2{
    background-color: #495043;
    width: 100%;
    text-align: center;
    
}
.second a{
    background-color:#49583b ;
    text-decoration: none;
}
.second a:hover{
    background-color: #FFFFFF;
}
.third{
    background-color: #C98CB7;
    padding: 20%;
    
    
}
.third a:hover{
    background-color:  #FFFFFF;
}
.third h2{
    background-color:#C98CB7; 
    width: 100%;
    margin-bottom: 2em;
    text-align: center;
    
}
.third a{
    background-color: #c385af;
    text-decoration: none;
}
.fourth{
    background-color: #A63B32;
    margin: 2% 0 0 0; 
}
.fourth h2{
    background-color:#A63B32 ;
    width: 100%;
    text-align: center;
}
.fourth form{
    width: 40%;
}
.fourth p{
    background-color:#A63B32 ;
}
.fourth input{
    border-radius: 15%;
    padding: 1%;
    text-align: right;
    margin: 1em;
}
.fourth label{
    text-align: left;
    padding: 10%;
}
.botton{
    background-color: #FFFFFF;
}








    