h1{

  width: 500px;  
  height: 500px;
  background: linear-gradient(90deg, black 33%, yellow 33%, yellow 64%,  red 64%);

}
h1:hover{
    background: linear-gradient(90deg, green 33%, white 33%, white 64%, green 64%);


}
h2
{
    width: 500px;
    height: 500px;
    background: radial-gradient(red 40%, white 40%);
}
ul{
    background: conic-gradient(
        violet 15%,
        cyan 15%,
        cyan 25%,
        blue 25%,
        blue 40%,
        purple 40%,
        purple 65%,
        gray 65%,
        gray 80%,
        crimson 80%
    );
}




